/* Footer.css */

.footer {
  border-top: 2px solid #e2e8f0;
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  background-color: #F7FAFC;
  color: #ffffff;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 20px;
}

.footer-section {
  flex: 1;
  padding: 0 20px;
  text-align: center;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 1rem;
  margin-top: 2;
}

.footer-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.footer-menu li {
  margin: 10px 0;
}

.footer-section {
  color: #F7FAFC;
  text-decoration: none;
}


.footer-map {
  border: 0;
  width: 100%;
  height: 150px;
}

.footer-social {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-icon {
  width: 30px;
  height: 30px;
}
