/* Cabecera.css */

header {
  background-color: #F7FAFC;
  color: #333;
  padding: 20px 0;
  width: 100%;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px; /* Más espacio alrededor */
}

.logo-nombre-container {
  display: flex;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.Nombre {
  text-align: left;
}

.Nombre h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

.barra-vertical {
  width: 1px;
  height: 80px;
  background-color: #ccc;
  margin: 0 40px; /* Espacio entre el nombre y el menú */
}

.ImagenesTopRight {
  display: flex;
  align-items: center;
}
